@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
    padding: 0 .5rem;

    &__header-div {
        display: flex;
    
        border-bottom: 1px solid $color-cloud;
        padding-bottom: 1rem;

    }

    &__header {
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 600;
        padding-left: .25rem;

    }

    &__form {

    } 

    &__warehouse-div {

    }

    &__label {
        margin-bottom: 0.25rem;
    }

    &__field {
        height: 2.25rem;
        width: 100%;
        padding: 0 1rem;
        border-radius: 1.25rem;
        margin-top: 0.25rem;
        border: 1px solid $color-cloud;
    }

    &__button {
        height: 2.25rem;
        width: 50%;
        padding: 0 1rem;
        border-radius: 1.25rem;
    }

    &__button--save {

    } 
}