@use '../../styles/partials/global' as*;
@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as*;


.inventory__list {
    position: relative;
    top: -10vh;
    background-color: $color-white;
    width: 91%;
    margin: $mobile-main-margin;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inventorylist__titles {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: row;
        padding: $mobile-main-padding;
        background-color: $color-lightgrey;
        display: flex;
        justify-content: space-around;
    }
}

.inventorylist__containerOne {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-cloud;
    padding: 5vh 2vh 2vh 2vh;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 3vh;
    }

    &-search {
        background-image: url('../../assets/icons/search-24px.svg');
        height: 2.375rem;
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding: 1vh;
        border: 1px solid $color-cloud;
        border-radius: 20px;
        margin-bottom: 2vh;
        margin-top: 1vh;

        @include tablet {
            margin-right: 2vh;
            margin-top: 0;
        }
    }

    &-add {
        background-color: $color-isindigo;
        border: none;
        color: $color-white;
        border-radius: 20px;
        padding: 1vh;
        margin-bottom: 1vh;
    }
}

.inventory__nav {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.inventorylist__containerTwo {
    padding: $mobile-main-padding;
    border-bottom: 1px solid $color-cloud;

    @include tablet {
        display: flex;
    }
}

.inventory__allInventories {
    display: flex;
    justify-content: space-between;

    &-titleWare {
        color: $color-slate;

        @include tablet {
            display: none;
        }
    }

    &--titleWare {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &-titleAddress {
        color: $color-slate;

        @include tablet {
            display: none;
        }
    }

    &--titleAddress {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &-titleContact {
        color: $color-slate;

        @include tablet {
            display: none;
        }
    }

    &--titleContact {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &-titleInfo {
        color: $color-slate;

        @include tablet {
            display: none;
        }
    }

    &-stock {
        border: 5px;
    }

    &-typeItem {
        color: $color-isindigo;
        font-weight: 600;
        display: flex;
    }

    &-one {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &-two {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }
}

.inventory__allInventories {
    &-title {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
    }
}

.inventory__sections {
    padding-bottom: 1rem;
}

button:hover {
    background-color: $color-isblack;
}

button {
    height: 2.375rem;
}
