@font-face {
    font-family: 'Titillium Web';
    src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Titillium Web';
    src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', Sans-serif;
}