@font-face {
    font-family: 'Titillium Web';
    src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium Web';
    src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format('opentype');
    font-weight: 600;
    font-style: bold;
}