// colors
$color-isblack: #13182C;
$color-isindigo: #2E66E5;
$color-white: #FFFFFF;
$color-slate: #5C667E;
$color-cloud: #BDC5D5;
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;
$color-green: #158463;
$color-red: #C94515;

// padding
$mobile-main-padding: 1rem;
$tablet-main-padding: 2rem;
$desktop-main-padding: 4rem;

// margin
$mobile-main-margin: 1rem;
$tablet-main-margin: 2rem;
$desktop-main-margin: 4rem;

// opacity 
$green-opacity: rgba(21, 132, 99, 0.07);
$red-opacity: rgba(201, 69, 21, 0.07);
$blue-opacity: rgba(46, 102, 229, 0.07);