// colors
$color-isblack: #13182C;
$color-isindigo: #2E66E5;
$color-white: #FFFFFF;
$color-slate: #5C667E;
$color-cloud: #BDC5D5;
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;
$color-green: #158463;
$color-red: #C94515;

// padding
$mobile-main-padding: 1rem;
$tablet-main-padding: 2rem;
$desktop-main-padding: 4rem;