@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item {

    position: relative;
    top: -10vh;
    background-color: $color-white;
    width: 91%;
    height: 90vh;
    box-shadow: 0 4px 8px rgba(19, 24, 44, 0.1);
    margin: 0 auto;

    &__header-div {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-cloud;
        align-items: center;
        padding: 1rem .5rem;

        @include tablet {
            padding: 2rem 1rem;
        }
        
        @include desktop {
            padding: 4rem 2rem;
        }
    }

    &__title-div {  
        display: flex;
        align-items: center;
        width:50%;
    }

    &__edit-button {
        display: flex;
        color: $color-white;
        height: 2.25rem;
        width: 2.25rem;
        padding: 0 1rem;
        border-radius: 1.25rem;
        border: none;
        background-color: $color-isindigo;
        margin-top: 1rem;

        @include tablet {
            padding: 0.5rem 1rem;
            margin-left: .5rem;
            border-radius: 1.25rem;
            width: max-content;
        }

        @include desktop {
            padding: 0.5rem 1rem;
            margin-left: .5rem;
            border-radius: 1.25rem;
            width: max-content;
        }

    }

    &__edit-button:hover {
        background-color: $color-graphite;
    }

    &____edit-icon {
        fill: $color-white;
    }

    &__button-text {
        display: none;

        @include tablet {
            display: block;
            color: $color-white;
        }

        @include desktop {
            display: block;
            color: $color-white;
        }
    }

    &__description-div {
        
        @include tablet {
            padding: 2rem 1rem;
            display: flex;
            margin: 0 auto;
        }

        @include desktop {
            padding: 4rem 2rem;
            display: flex;
            margin: 0 auto;
        }
    }

    &__right-div{
        margin: 1rem 0;

        @include tablet {
            width: 40%;
            border-left: 1px solid $color-cloud;
            padding-left: 2rem;

        }

        @include desktop {
            width: 40%;
            border-left: 1px solid $color-cloud;
            padding-left: 4rem;
        }

    }

    &__left-div {
        padding: 0 1rem;
        margin: 1rem 0;

        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 40%;
        }
    }

    &__details-div {
        padding: 0 1rem;
        margin: 1rem 0;
    }


    &__status-quant-div {
        display: flex;
        margin: 1rem 0;
    }

    &__category-header {
        font-size: .6875rem;
        font-weight: 600;
        line-height: 1rem;
        color:  $color-slate;
        margin-bottom: .5rem 0;
    }

    &__category-description {
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.25rem;
        color:  $color-isblack;
        margin-bottom: .5rem;

        @include tablet {
            margin-bottom: 1.5rem;
        }
        @include desktop {
            margin-bottom: 3rem;
        }
    }

    &__category-stock {
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.25rem;
        color:  $color-green;
        background-color: rgba(21, 132, 99, 0.07);
        width: max-content;
        padding: 0 .5rem;
        border-radius: 1.25rem;
    }
    &__category-stock--out {
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.25rem;
        color:  $color-red;
        background-color: rgba(201, 69, 21, 0.07);
        width: max-content;
        padding: 0 .5rem;
        border-radius: 1.25rem;
        margin: .5rem 0;
    }

    &__quant-div {
        margin: 0 2rem;
    }

    &__warehouse-div {
        margin: 1rem;

    }


}
