@use '../../styles/partials/global' as*;
@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as*;

.warehouse__list {
    top: -10vh;
    background-color: $color-white;
    margin: $mobile-main-margin;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    @include tablet {
        margin:$tablet-main-margin;
        top: -13vh;
    }
    @include desktop {
        margin: $desktop-main-margin;
        top: -17vh;
    }
}
.warehouselist__titles {
    display: none;
@include tablet {
        display: flex;
        padding: $mobile-main-padding;
        background-color: $color-lightgrey;
        justify-content: space-around;
        @include desktop {
            &-titleAct {
                width: 10vh;
            }

        }
}
}
.warehouselist__containerOne{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-cloud ;
    padding: 5vh  2vh 2vh 2vh;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 3vh;
    }
    &-search {
        background-image: url('../../assets/icons/search-24px.svg');
        height:30px;
        background-repeat: no-repeat;
        background-position: right 10px center;
       padding: 2vh;
       border: 1px solid $color-cloud;
       border-radius: 20px;
       margin-bottom: 2vh;
       margin-top: 1vh;
       @include tablet{
        margin-right: 2vh;
       }
    }
    &-add {
        background-color: $color-isindigo;
        border: none;
        color: $color-white;
        border-radius: 20px;
        padding: 1vh;
        margin-bottom: 1vh;
    }
}

.warehouse__nav {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row    }
}
.warehouselist__containerTwo {
    padding:$mobile-main-padding;
    border-bottom: 1px solid $color-cloud;
    @include tablet {
        display: none;
    }

}

a {
    text-decoration: none;
}

.warehouse__allWarehouses{
    display: flex;
    justify-content: space-between;
 
    &-titleWare{
        color: $color-slate;
        @include tablet{
            display: none;
        }
    }
    &--titleWare{
        display: none;
        @include tablet {
            display:flex;
            width: 20vh;
        }
    }
    &-titleAddress {
        color: $color-slate;
        margin-top: 2vh;
        @include tablet{
            display: none;
        }
    }
    &--titleAddress{
        display: none;
        @include tablet {
            display:flex;
            width: 18vh;
        }
        @include desktop {
            width: 40vh;
        }
    }
    &-titleContact{
        color: $color-slate;
        @include tablet{
            display: none;
        }
    }
    &--titleContact{
        display: none;
        @include tablet {
            display:flex;
            width: 18vh;
        }
    }
    &-titleInfo {
        color: $color-slate;
        margin-top: 2vh;
        @include tablet{
            display: none;
        }
    }
    &--titleInfo {
        display: none;
        @include tablet {
            display: flex;
            width: 25vh;
        }
    }

    &-name{
        border: 5px;
        @include tablet {
            width: 18vh
        }
    }
    &-typeItem {
        color: $color-isindigo;
        font-weight: 600;
        display: flex;
        @include tablet {
            width: 20vh;
        }
     
    }
    &-one {
        @include tablet {
            display:  flex;
            flex-direction: row;
        }  
    }
    &-two {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }
    @include desktop {
        &-address {
            margin-right: 1vh;
        }
    }
}

.warehouse__allWarehouses{
    &-title {
        display: none;
        @include tablet {
            display: flex;
        }
    }
&-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}
}

.warehouselist__containerTwo--tablet {
    display: none;
    @include tablet {
        display: flex;
        border-bottom: 1px solid $color-cloud;
        align-items: center;
        justify-content: space-evenly;
        height: 12vh;

    }
}

.contact-info {
    width: 25vh;
}
.address-info-tablet {
    width: 20vh;
    @include desktop {
        width: 41vh;
        display: flex;
    }
}