@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/global' as *;

.header {
    padding: $mobile-main-padding;
    background-color: $color-graphite;
    padding-bottom: 5rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
        padding: 1rem $tablet-main-padding;
        padding-bottom: 8rem;
        padding-top: 2.5rem;
    }

    @include desktop {
        padding-inline: $desktop-main-padding;
    }

    &__logo {
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;

        @include tablet {
            display: flex;
            padding: 0;
            justify-content: flex-start;
            width: 8rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        
        @include tablet {
            width: 12rem;
        }

        &-all {
            min-width: 45%;
            max-width: 70%;
            min-height: 2.25rem;
            max-height: 3rem;
            border-radius: 40px;
            font-weight: 600;
            background-color: $color-graphite;
            border: 1px solid transparent;
            color: $color-white;
            cursor: pointer;
            text-align: center;
            padding: 0.5rem 1rem;

            // hard coded styles --> change to styles being applied dynamically
            &:nth-of-type(1) {
                background-color: $color-isblack;
            }

            &:nth-of-type(2) {
                color: $color-cloud;
                
                @include tablet {
                    margin-left: 0.3rem;
                }
            }
        }
    }

    .header__buttons-all:hover {
        // 
    }

}