@import '../styles/partials/global';
@import '../styles/partials/mixins';
@import '../styles/partials/variables';

.warehouse-inventory {
    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__header, &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid $color-cloud;
    }

    &__row {
        cursor: pointer;

        &:hover {
            background: $blue-opacity;
        }
    }

    &__header {
        background-color: $color-lightgrey;
        text-transform: uppercase;
        color: $color-slate;
        font-size: 0.8rem;
        font-weight: 600;
    }

    &__header-item, &__row-item {
        flex: 1;
        text-align: left;
        padding: 0.3rem;
        display: flex;
        justify-content: flex-start;
        min-width: max-content;

        // first column 
        &:nth-of-type(1) {
            margin-left: 2rem;
        }

        &:nth-of-type(4) {
            margin-left: 5rem;

            @include desktop {
                margin-left: 13rem;
            }
        }

        // last column 
        &:nth-of-type(5) {
            width: min-content;
            margin-left: -8rem;
            margin-right: 1rem;

            @include desktop {
                margin-left: -20rem;
            }
        }

        &--actions {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        }
    }

    &__header-item {
        margin-left: 0.4rem;
    }

    &__row-item:nth-of-type(1) {
        color: $color-isindigo;
        font-weight: 600;
        cursor: pointer;
    }

    // Status (in stock / out of stock) 
    &__row-item:nth-of-type(3) {
        justify-content: flex-start;
    }

    &__row-item {
        padding: 0.8rem;

        &--status {
            background: $green-opacity;
            color: $color-green;
            font-weight: 600;
            font-size: 0.8rem;
            text-transform: uppercase;
            border-radius: 20px;
            padding: 0.5rem 1rem;
        }

        &--status {
            font-weight: 600;
            font-size: 0.8rem;
            text-transform: uppercase;
            border-radius: 20px;
            padding: 0.5rem 1rem;
        }

        &--status-instock {
            background: $green-opacity;
            color: $color-green;
        }
    
        &--status-outofstock {
            background: $red-opacity;
            color: $color-red;
        }

        &--actions {
            gap: 0.8rem;
        }
    }

    &__sort-icon {
        width: 17px;
        cursor: pointer;
        margin-left: 0.3rem;
    }
}
