@use '../../styles/partials/global' as*;
@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as*;

.warehousedetails__containerOne{
    display: flex;
    border-bottom: 1px solid $color-cloud ;
    padding: 5vh;
    &-edit {
        margin-left: 5vh;
    }
}

.warehousedetails__containerOne-edit{
    margin-left: 5vh;
}